.container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1rem;
}

@media (max-width: 40.5rem) {
    .container {
        padding: 0 1rem;
        width: 100%;
    }

}